---
import LinkInline from "@/components/experience/LinkInline.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

interface Props {
  COMPANY: string;
  POSITION: string;
  DATE: string;
  DESCRIPTION: string;
  LINK?: string;
  IMG_LINK?: string;
  ALT_TEXT?: string;
}

const { COMPANY, POSITION, DATE, DESCRIPTION, LINK, IMG_LINK, ALT_TEXT } =
  Astro.props;
---

<div
  class="relative grid mx-12 pb-12 before:absolute before:left-[-40px] before:block before:h-full before:border-l-8 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-yellow-500 -left-[64px] absolute rounded-full text-8xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-yellow-500">{COMPANY}</h3>
      <h4 class="font-semibold text-md text-gray-600 dark:text-white italic">
        {POSITION}
      </h4>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
        >{DATE}</time
      >
      {
        IMG_LINK && ALT_TEXT && (
          <img
            class="size-[180px] mt-2 rounded-md mx-auto shadow-xl shadow-amber-100"
            src={IMG_LINK}
            alt={ALT_TEXT}
          />
        )
      }
    </div>
  </div>
  <div
    class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
  >
    {DESCRIPTION}
    {
      LINK && (
        <LinkInline href={LINK}>
          {i18n.TILES.COMPANY_LINK}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
        </LinkInline>
      )
    }
  </div>
</div>
